@import './fonts.css';
/* color palette from <https://github.com/vuejs/theme> */
:root {
  --background-color: #f7f7fc;
  --color-primary: #dadce0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

input, textarea, select {
  border: var(--color-primary) solid 1px;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin: 6px 0;
}

button {
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  background: #fff;
  border: var(--color-primary) solid 1px;
}