@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4ux3fp');
  src:  url('fonts/icomoon.eot?4ux3fp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4ux3fp') format('truetype'),
    url('fonts/icomoon.woff?4ux3fp') format('woff'),
    url('fonts/icomoon.svg?4ux3fp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\e900";
}
.icon-chevron-up:before {
  content: "\e901";
}
.icon-plus:before {
  content: "\e917";
}
.icon-printer:before {
  content: "\e906";
}
.icon-remove:before {
  content: "\e902";
}
